.App {
  text-align: center;
  color: white;
  margin: auto;
  height: 100vh;
}

.light-theme {
  background-color: #E6D1F2;

}

.dark-theme {
  background-color: #B19CD8;
}

.App .input-form {
  display: flex;
  height: 250px;
  flex-direction: column;
}

.App .input-form .input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
}

.App .input-form input {
  width: 60%;
  height: 55px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  border-radius: 10px;
}

.App .input-form textarea {
  border: none;
  border-radius: 10px;
  width: 60%;
  height: 40px;
  outline: none;
  resize: none;
}

.App .input-form .add-btn {
  margin: auto;
  padding: 20px;
  width: fit-content;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}



/*todo-list container*/

.todolist-container {
  margin: auto;
  background-color: #B19CD8;
}