.App {
  text-align: center;
  color: white;
  margin: auto;
  height: 100vh;
}

.light-theme {
  background-color: #E6D1F2;

}

.dark-theme {
  background-color: #B19CD8;
}


.App .input-form {
  display: flex;
  height: 250px;
  flex-direction: column;
}

.App .input-form .input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
}

.input-form .input-field .input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-form .input-field .input-wrapper input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  height: 50px;
}

.input-form .input-field .input-wrapper .voice-btn {
  margin-left: 8px;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App .input-form input {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  border-radius: 10px;
}

.input-form .input-field textarea {
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  resize: none;
  outline: none;
}

.App .input-form .add-btn {
  margin: auto;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}